<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> 
    <title>Charts</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>    
    
    <span id="sidebarButton" style="position: fixed;font-size:25px;cursor:pointer;z-index:999;color:#A0A0A0" onclick="openSidebar()">&#9776;</span>
    <div id="sidebar" class="side">
        
        <div class="group">
            <div  style="float: left;" class="input-group">
                <input type="text" id="window" required class="input" onkeypress="onWindowButtonPress(event)"/>
                <label for="window" class="input-label">Window</label>
            </div>
            
            <div>
                <button class="button" onclick="onWindowButtonClick()">&check;</button>
            </div>
        </div>
            
        <div class="group">      
            <div  style="float: left;" class="input-group">
                <input type="text" id="maxY" required class="input" onkeypress="onMaxYButtonPress(event)"/>
                <label for="maxY" class="input-label">Max Y</label>
            </div>
            
            <div>
                <button class="button" onclick="onMaxYButtonClick()">&check;</button>
            </div>
        </div>
        
        <a href="#">Text</a>
    </div>
        
    <div id="main">
            <div style="max-width:700px;">
                <canvas id="chart1" width="297" height="210"></canvas>
            </div>               
    </div>

    <script>
        var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(231,233,237)'
        };

        var data1Color = {
            solid: "rgba(195, 40, 96, 1)",
            transparent: "rgba(195, 40, 96, 0.2)"
        };
        
        var data2Color = {
            solid: "rgba(255, 172, 100, 1)",
            transparent: "rgba(255, 172, 100, 0.2)"
        };
        
        var data3Color = {
            solid: "rgba(88, 188, 116, 1)",
            transparent: "rgba(88, 188, 116, 0.2)"
        };
        
        var foregroundColor = "rgba(160, 160, 160, 1.0)";
        
        var commonOptions = {
            scales: {
                x: {
                    grid: {
                        color: foregroundColor
                    },
                    ticks: {
                        color: foregroundColor
                    },
                    type: 'time',
                    time: {
                        unit: 'minute'
                    }
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        color: foregroundColor
                    },
                    ticks: {
                        color: foregroundColor,
                    }
                }
            },
            elements: {
                point: {
                    radius: 0
                }
            }
        }

        var context1 = document.getElementById('chart1').getContext('2d');
        window.chart1 = new Chart(context1, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: "Temperature",
                    backgroundColor: data1Color.transparent,                    
                    borderColor: data1Color.solid,
                    pointColor: data1Color.solid,
                    pointBorderColor: data1Color.solid,
                    pointBackgroundColor: data1Color.solid,
                    pointHoverBorderColor: 'white',
                    pointHitRadius: 20,
                    pointBorderWidth: 6,
                    data: [],
                    fill: true
                },
                {
                    label: "Moisture",
                    backgroundColor: data2Color.transparent,
                    borderColor: data2Color.solid,
                    pointColor: data2Color.solid,
                    pointBorderColor: data2Color.solid,
                    pointBackgroundColor: data2Color.solid,
                    pointHoverBorderColor: 'white',
                    pointHitRadius: 20,
                    pointBorderWidth: 6,
                    data: [],
                    fill: true
                }
                ]
            },
            options: commonOptions,
        });

        var dataWindowSize = 60;
        var dataRequestCount = dataWindowSize;

        (function worker() {
            $.ajax({
                url: 'data',
                data: "count="+dataRequestCount+"",
                dataType: 'text',
                success: function(data) {
                    let jsonData = JSON.parse(data);
                    console.log(jsonData);

                    addDataToChart(chart1, new Date(), jsonData.sampleDelta, jsonData.data);
                    dataRequestCount = 1;
                },
                complete: function() {
                    setTimeout(worker, 60*1000);
                }
            });
        })();

        function addDataToChart(chart, newestTime, sampleDelta, dataArrays, doUpdate = true) {
            let timeDelta = moment.duration(sampleDelta, 'minutes');
            for (let i = dataArrays[0].length - 1; i >= 0; i--) {         
                let time = newestTime - (i - 1)*timeDelta;       
                addToChart(chart, time, [dataArrays[0][i], dataArrays[1][i]], doUpdate);
            }
        }

        function addToChart(chart, time, y, doUpdate = true) {
            chart.data.labels.push(time);
            let i = 0;
            chart.data.datasets.forEach((dataset, index) => {dataset.data.push(y[index])});
            if (chart.data.labels.length > dataWindowSize) {
                chart.data.labels.shift()
                chart.data.datasets.forEach((dataset) => {dataset.data.shift()});
            }

            if (doUpdate) {
                chart.update();
            }            
        }

        function onWindowButtonPress(event)
        {
            if (event.key == "Enter")
            {
                onWindowButtonClick();
            }
        }

        function onWindowButtonClick() {
            let input = document.getElementById("window");
            dataWindowSize = Math.round(input.value);
            
            $.ajax({
                url: 'data',
                data: "count="+dataWindowSize+"",
                dataType: 'text',
                success: function(data) {
                    let jsonData = JSON.parse(data);
                    console.log(jsonData);

                    chart1.data.labels = [];
                    chart1.data.datasets.forEach((dataset) => {dataset.data = []});
                    addDataToChart(chart1, new Date(), jsonData.sampleDelta, jsonData.data, false);
                    chart1.update();
                    dataRequestCount = 1;
                }
            });
        }

        function onMaxYButtonPress(event)
        {
            if (event.key == "Enter") {                
                onMaxYButtonClick();
            }
        }
        
        function onMaxYButtonClick() {
            let input = document.getElementById("maxY");
            chart1.options.scales.y.min = 0;
            chart1.options.scales.y.max = Math.round(input.value);
            chart1.update();
        }

        var sidebarClosed = true;
        function openSidebar() {
            if (sidebarClosed) {             
                sidebarClosed = false;   
                document.getElementById("sidebar").style.width = "200px";
                document.getElementById("sidebar").style.minWidth = "100px";
                document.getElementById("sidebar").style.maxWidth = "30%";
                let actualMaxWidth = document.documentElement.clientWidth * 0.3;
                let actualMinWidth = 100;
                let requestedWidth = 200;
                let actualWidth = Math.min(actualMaxWidth, 200);
                document.getElementById("main").style.marginLeft = actualWidth + "px";
                document.getElementById("sidebarButton").style.color = "#818181";   
                document.getElementById("sidebarButton").innerHTML = "&times;";
            } 
            else {       
                sidebarClosed = true;
                document.getElementById("sidebar").style.width = "0";
                document.getElementById("sidebar").style.minWidth = "0px";
                document.getElementById("sidebar").style.maxWidth = "0px";
                document.getElementById("main").style.marginLeft= "0";            
                document.getElementById("sidebarButton").style.color = foregroundColor;    
                document.getElementById("sidebarButton").innerHTML = "&#9776;";
            }
        }
    </script>
</body>
</html>