<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css"> 
    <title>Charts</title>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.3/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0/dist/chartjs-adapter-moment.min.js"></script>    

    <div style="max-width:700px">
        <canvas id="chart1" width="297" height="210"></canvas>
    </div>
    <div style="max-width:700px">
        <canvas id="chart2" width="297" height="210"></canvas>
    </div>
    <div style="max-width:700px">
        <canvas id="chart3" width="297" height="210"></canvas>
    </div>

    <script>
        var chartColors = {
            red: 'rgb(255, 99, 132)',
            orange: 'rgb(255, 159, 64)',
            yellow: 'rgb(255, 205, 86)',
            green: 'rgb(75, 192, 192)',
            blue: 'rgb(54, 162, 235)',
            purple: 'rgb(153, 102, 255)',
            grey: 'rgb(231,233,237)'
        };

        var data1Color = {
            solid: "rgba(195, 40, 96, 1)",
            transparent: "rgba(195, 40, 96, 0.1)"
        };
        
        var data2Color = {
            solid: "rgba(255, 172, 100, 1)",
            transparent: "rgba(255, 172, 100, 0.1)"
        };
        
        var data3Color = {
            solid: "rgba(88, 188, 116, 1)",
            transparent: "rgba(88, 188, 116, 0.1)"
        };

        var commonOptions = {
            scales: {
                x: {
                    grid: {
                        color: 'white'
                    },
                    ticks: {
                        color: 'white'
                    },
                    type: 'time',
                    time: {
                        unit: 'minute'
                    }
                },
                y: {
                    beginAtZero: true,
                    grid: {
                        color: 'white'
                    },
                    ticks: {
                        color: 'white',
                    }
                }
            }
        }

        var context1 = document.getElementById('chart1').getContext('2d');
        window.chart1 = new Chart(context1, {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: "Front",
                    backgroundColor: data1Color.transparent,                    
                    borderColor: data1Color.solid,
                    pointColor: data1Color.solid,
                    pointBorderColor: data1Color.solid,
                    pointBackgroundColor: data1Color.solid,
                    pointHoverBorderColor: 'white',
                    pointHitRadius: 20,
                    pointBorderWidth: 6,
                    data: [],
                    fill: true
                },
                {
                    label: "Middle",
                    backgroundColor: data2Color.transparent,
                    borderColor: data2Color.solid,
                    pointColor: data2Color.solid,
                    pointBorderColor: data2Color.solid,
                    pointBackgroundColor: data2Color.solid,
                    pointHoverBorderColor: 'white',
                    pointHitRadius: 20,
                    pointBorderWidth: 6,
                    data: [],
                    fill: true
                },
                {
                    label: "Back",
                    backgroundColor: data3Color.transparent,
                    borderColor: data3Color.solid,
                    pointColor: data3Color.solid,
                    pointBorderColor: data3Color.solid,
                    pointBackgroundColor: data3Color.solid,
                    pointHoverBorderColor: 'white',
                    pointHitRadius: 20,
                    pointBorderWidth: 6,
                    data: [],
                    fill: true
                }
                ]
            },
            options: commonOptions,
        });
        
        const context2 = document.getElementById('chart2').getContext('2d');
        const chart2 = new Chart(context2, {
            type: 'line',
            data: {
                datasets: [{
                    label: "chart 2",
                    data: 0,
                    fillColor: "rgba(255, 172, 100, 0.1)",
                    strokeColor: "rgba(255, 172, 100, 1)",
                    pointColor: "rgba(255, 172, 100, 1)",
                    pointStrokeColor: "#202b33",
                    pointHighlightStroke: "rgba(225,225,225,0.9)",
                    tension: 0.5
                }]
            },
            options: {            
                scales: {
                    xAxes: {
                        type: 'time',
                        time: {
                            unit: 'minute'
                        }
                    }
                }
            },
        });
        
        const context3 = document.getElementById('chart3').getContext('2d');
        const chart3 = new Chart(context3, {
            type: 'line',
            data: {
                datasets: [{
                    label: "chart 3",
                    data: 0,
                    fillColor: "rgba(19, 71, 34, 0.3)",
                    strokeColor: "rgba(88, 188, 116, 1)",
                    pointColor: "rgba(88, 188, 116, 1)",
                    pointStrokeColor: "#202b33",
                    pointHighlightStroke: "rgba(225,225,225,0.9)",
                    tension: 0.5
                }]
            },
            options: {            
                scales: {
                    xAxes: {
                        type: 'time',
                        time: {
                            unit: 'minute'
                        }
                    }
                }
            },
        });

        var dataCount = 720;

        (function worker() {
            $.ajax({
                url: 'data',
                data: "count="+dataCount+"",
                dataType: 'text',
                success: function(data) {
                    console.log('received new data');
                    let jsonData = JSON.parse(data);
                    console.log(jsonData);
                    let now = new Date();
                    let timeDelta = moment.duration(jsonData.sampleDelta, 'minutes');
                    for (let i = jsonData.data.length - 1; i >= 0; i--) {         
                        let time = now - (i - 1)*timeDelta;       
                        addToChart(chart1, time, jsonData.data[i]);
                    }
                    dataCount = 1;
                },
                complete: function() {
                    setTimeout(worker, 60*1000);
                }
            });
        })();

        function addToChart(chart, time, y) {
            chart.data.labels.push(time);
            chart.data.datasets.forEach((dataset) => {dataset.data.push(y)});
            chart.update();
        }
    </script>
</body>
</html>