body {
    background-color: #1e1e1e;
    font-family: verdana;
}
  
h1 {
    color: white;
    text-align: left;
}
  
p {
    font-family: verdana;
    color: white;
    font-size: 20px;
}
